
body{
    margin: 0;
}
h1{
    margin: 0;
}
.container{
    background-color: lightblue;

    display: flex; /* default direction - row */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* for flex-direction: row;  */
    /* justify-content horizontally */
    /* flex-direction: row-reverse; */ /* order and alignment will change */
    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */ /* default */
    /* justify-content: space-between; */
    /* justify-content: space-around; */ 
    /* justify-content: space-evenly; */
    height: 400px;
    /* align-items vertically */
    /* align-items: center; */
    /* align-items: flex-end; */
    /* align-items: flex-start; */
}
.item_1,.item_2,.item_3{
    flex: 1;
    /* width: 300px; */ /* remove width and use flex to get equal width for all child div's*/
    /* if we add another child div, all the child div's will take equal width */
    height:200px;
    background-color: orange;
    border: 1px solid white;
    text-align: center;
    padding: 5px;
}

.item_2{
    flex: 2;
}
